/* Setup Snippet */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Strip default margins and padding */
* {
  margin: 0;
  padding: 0;
}

/* Body styling */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 62.5%;
  background: rgb(39, 15, 63);
}

/* Container for game and infoPanel */
.wrapper {
  width: 1200px;
  margin: 0 auto;
  min-width: 1000px;
}

/* Alternate properties for game screen styling */
.altProps {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

/* Container for game */
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(102, 51, 153);
  /* padding: 20px; */
  /* flex: 0 0 75%; */
  height: 100%;
  border-top-left-radius: 10px;
  /* Temporarily added this radius for UI coherency during user testing */
  border-bottom-left-radius: 10px;
  /* border: 5px solid red; */
}

/* Hides ghost from rendering unless rendered by Matter.js */
svg {
  display: none;
}

/* Game stats info panel*/
.infoPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: palevioletred;
  font-family: monospace;
  color: darkslateblue;
  font-size: 1.4rem;
  font-weight: bold;
  flex: 0 1 25%;
  height: 100%;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* Game stats inner container */
.infoWrap {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 170px;
}

/* Stats conatainer */
.stats {
  height: 100px;
}

.timerDiv, 
.timerDivBg {
  width: 200px;
  height: 14px;
  border: 3px solid none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* Timer progress bar */
.timerDiv {
  background: orange;
  font-size: 1.7rem;
  font-weight: bold;
  width: 30px;
}

/* Timer progress bar background */
.timerDivBg {
  background: rgb(171, 72, 180);;
}


/* Styling for time readout text */
.myTime {
  word-wrap: nowrap;
  position: relative;
  top: -12px;
  color: darkslateblue
}

/* Button animation */
@keyframes breathe {
  from {letter-spacing: initial;}
  to {letter-spacing: 3px;}
}

/* Format start/reset button */
.startBtn {
  border-radius: 10px;
  padding: 15px;
  width: 120px;
  color: darkslateblue;
  border: 3px solid transparent;
}

/* Primary properties for start button */
.btnPrimaryProps {
  background: rgb(154, 216, 44);
  letter-spacing: 3px;
  transition: ease 1s;
  animation-name: breathe;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Alt properties class for start button (when it changes to "RESET") */
.btnAltProps {
  background: orange;
  transition: ease 1s;
}

/* Alt properties class for start button (when it changes to "RESET") on hover*/
.btnAltProps:hover {
  /* background: rgb(235, 47, 47); */
  cursor: pointer;
}

/* Start button hover state */
.startBtn:hover {
  /* background: yellow; */
  cursor: pointer;
}

.startBtn:hover .btnPrimaryProps {
  letter-spacing: 1px;
}

/* Rules section text formatting */
.rules p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 0.95rem;
  margin: 20px;
  text-align: left;
}

/* Container for game score */
.scoreDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

/* h1 (title formatting) */
h1 {
  margin: 0;
  padding: 0;
  font-family: "Monofett", cursive;
  font-size: 4.5rem;
  text-align: center;
  color: blueviolet;
}

/* Set properties for outer and inner rings */
.outer,
.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

/* Outer-most ring formatting (ring 3) */
/* This ring has no borders. It is merely a ring to place the ghost */
.outer {
  background: rgb(88, 56, 119);
}

/* Inner rings formatting (rings 0, 1, and 2) */
.inner {
  background: rgb(110, 77, 143);
}

/* Formatting for ring3 (outernmost ring) */
.ring3 {
  border-width: 0;
  position: relative;
  width: 780px;
  height: 780px;
}

/* Formatting for ring2 (third innermost ring) */
.ring2 {
  border: 28px solid rgb(67, 44, 90);
  width: 580px;
  height: 580px;
}

/* Formatting for ring1 (second innermost ring) */
.ring1 {
  border: 21px solid rgb(67, 44, 90);
  width: 380px;
  height: 380px;
}

/* Formatting for innermost ring */
.ring0 {
  border: 14px solid rgb(67, 44, 90);
  width: 180px;
  height: 180px;
}

/* Set ghost properties */
.rufus {
  top: 21px;
  left: 600px;
  z-index: 100;
  height: 70px;
  width: 70px;
  display: inline-block;
  position: absolute;
  /* Always refernce coordinates from top + left to keep .ring3 origin point usable */
  opacity: 0.1;
  visibility: hidden;
}

/* Hover properties for ghost */
.rufus:hover {
  cursor: pointer;
}

/* Prevents ghost highlighting */
/* .rufus::selection {
  background-color: transparent;
} */

/* Container for cat and his speech bubble */
.catContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 55px;
  left: 20px;
}

/* Container for cat speech bubble and the words inside */
.catSpeechBubbleOuter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 150px;
  height: 100px;
  background-image: url("./assets/deepPurpleSpeech.png");
  background-size: 150px 100px;
  background-repeat: no-repeat;
  opacity: 0;
}

/* Formatting for words within speech bubble */
.catSpeechBubbleOuter p {
  padding: 20px;
  padding-top: 33px;
  font-family: arial;
  font-size: 1rem;
  color: rgb(219, 112, 147);
}

/* Set cat properties */
.cat {
  height: 110px;
  width: 110px;
  position: relative;
}

/* Footer properties */
footer {
  text-align: left;
}

/* Formatting for Juno College Link */
footer a {
  color: palevioletred;
  font-family: arial;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background: rgb(102, 51, 153);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  letter-spacing: 5px;
  position: relative;
  bottom: 30px;
}

/* Hover state for Juno College Link */
footer a:hover {
  color: white;
}
